<div {{bindAttr class=':cheech view.isActive:'}}></div>
<span {{bindAttr class=':display view.isActive'}}>{{ view.displayName }}</span>
{{view App.OptionsView contentBinding='view.group.filters' isActiveBinding='view.isActive'}}
