fontUltraLight(italic = false)
  if italic
    return 'HelveticaNeueW01-UltLtI'
  else
    return 'HelveticaNeueW01-UltLt'
fontThin(italic = false)
  if italic
    return 'HelveticaNeueW01-ThinIt'
  else
    return 'HelveticaNeueW01-Thin'
fontLight(italic = false)
  if italic
    return 'HelveticaNeueW01-46Ligh'
  else
    return 'HelveticaNeueW01-45Ligh'
fontRoman(italic = false)
  if italic
    return 'HelveticaNeueW01-56It'
  else
    return 'HelveticaNeueW01-55Roma'
fontMedium(italic = false)
  if italic
    return 'HelveticaNeueW01-65Medi'
  else
    return 'HelveticaNeueW01-66Medi'
fontBold(italic = false)
  if italic
    return 'HelveticaNeueW01-76Bold'
  else
    return 'HelveticaNeueW01-75Bold'
fontHeavy(italic = false)
  if italic
    return 'HelveticaNeueW01-86Heav'
  else
    return 'HelveticaNeueW01-85Heav'
fontBlack()
  return 'HelveticaNeueW01-95Blac'
