@import 'nib'
@import '_fonts'

$primaryColor = #ee4133

h1, h2, h3, h4, h5, h6
  margin 0

fullHeight()
  height 100%
  height auto !important
  min-height 100%

*, *:after, *:before
  box-sizing border-box

html
  height 100%

html, body
  margin 0
  height 100%

.container
  max-width 960px
  position relative
  margin 0 auto

#brooklyn-united
  height 100%
  & > .ember-view
    height 100%

#logo
  margin-bottom 30px

.panel
  background-color #fff
  min-height 100%
  height auto
  &.hero
    padding 115px 200px 0
    text-align center
    background-color $primaryColor
    h1, h2
      font-family fontBold()
    h1
      color #fff
      font-size 72px
    h2
      color #000
      font-size 32px

#filters
  width 800px
  margin 0 auto
  text-align center
  margin-top 90px
  h3
    font-size 72px
    font-family fontBold()
    color #000
  .filter-group
    font-size 40px
    font-family fontRoman()
    letter-spacing 2px
    &+.filter-group
      margin-top 50px
    small
      font-size 18px
      font-family fontRoman()
      .option-item
        font-size 18px
        padding 8px 10px
        width 200px
    .dropdown
      position relative
      &#viewers-select
        text-transform capitalize
      .display
        border-bottom 1px dashed #fff
        color #fff
        cursor pointer
        position relative
        &.is-active
          z-index 1000
.cheech
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  z-index 1000
  background-color #000
  opacity 0
  visibility hidden
  transition all 200ms
  &.is-active
    opacity 0.7
    visibility visible
.options-list
  display inline-block
  visibility hidden
  color #000
  font-size 20px
  position absolute
  left 0
  top 100%
  list-style none
  margin 0
  padding 0
  text-align left
  width 300px
  &.is-active
    visibility visible
    z-index 1000
    .option-item
      transform rotateX(0deg) translateZ(0) scale(1)
      box-shadow 0 0 1px rgba(0, 0, 0, 0.35)
      &:nth-child(1)
        transition-delay 0
        z-index 2
      &:nth-child(2)
        transition-delay 0
        z-index 3
      &:nth-child(3)
        transition-delay 0
        z-index 4
      &:nth-child(4)
        transition-delay 0
        z-index 5
      &:nth-child(5)
        transition-delay 0
        z-index 6
  .option-item
    padding 20px 10px
    cursor pointer
    transform-origin 50% 0
    transform rotateX(90deg) translateZ(-100px) scale(1.2)
    box-shadow -10px -10px 30px rgba(0, 0, 0, 0.1)
    transition transform 75ms linear
    background-color rgba(255, 255, 255, 0.8)
    font-family fontLight()
    position relative
    &:hover, &.selected
      background-color $primaryColor
      color #fff
    &:hover
      background-color lighten($primaryColor, 20%)
      transform scale(1.1)
      z-index 1000
      box-shadow 0 0 10px rgba(0, 0, 0, 0.75)
      &~.option-item
        transform translateY(7px)
    &:nth-child(1)
      transition-delay 100ms
      z-index 2
    &:nth-child(2)
      transition-delay 200ms
      z-index 3
    &:nth-child(3)
      transition-delay 300ms
      z-index 4
    &:nth-child(4)
      transition-delay 400ms
      z-index 5
    &:nth-child(5)
      transition-delay 500ms
      z-index 6
#view
  width 94px
  height 94px
  background-color #b1211d
  border-radius 100px
  border none
  margin-top 55px
  color #fff
  text-transform uppercase
  font-family fontLight()
  font-size 24px
  letter-spacing 2px
  background-image url('/img/carrot-down.png')
  background-repeat no-repeat
  background-position center 65px
  transition all 75ms ease-in
  margin-bottom 20px
  &:active, &:focus
    outline none
    border none
  &:hover
    background-color darken(@background-color, 20%)
  &:active
    background-color darken(@background-color, 40%)


#reset
  border none
  background-color transparent
  background-image url('/img/up.png')
  background-repeat no-repeat
  background-position center top
  overflow hidden
  text-indent -999px
  position relative
  margin 0 auto
  width 89px
  height 42px
  display block
  &:active
  &:focus
    outline none

#project-list
  font-family fontBold()
  list-style none
  margin 0
  padding 0
  overflow hidden
  font-size 26px
  width 1000px
  display block
  margin 50px auto 20px
  li
    float left
    &+li
      margin-left 30px
  a
    text-decoration none
    color #d4d4d4
    transition color 175ms ease-in
    &:hover
      color darken(@color, 20%)
    &.active
      color #000

#paginator
  position relative
  display block
  text-align center
  margin-bottom 30px
  .index
    font-family fontBold()
    color #d4d4d4
    font-size 12px
    text-transform uppercase
  .carot
    vertical-align middle
    width 15px
    height 18px
    background-position center center
    background-repeat no-repeat
    display inline-block
    text-decoration none
    overflow hidden
    text-indent -999px
    &.right
      background-image url('/img/carot-right.png')
    &.left
      background-image url('/img/carot-left.png')

.feed
  a
    color #33b3ee
    text-decoration none
  .block
    .icon-ig
      position absolute
      bottom 15px
      left 50%
      margin-left -12.5px
      background-repeat no-repeat
      background-position center center
      display block
      text-indent -999px
      overflow hidden
      width 25px
      height 25px
      background-image url('/img/instagram.png')
    .backer
      background linear-gradient(top, 60% rgba(0, 0, 0, 0), 90% rgba(0, 0, 0, 0.75))
      position absolute
      top 5px
      left 5px
      bottom 5px
      right 5px
    hgroup
      padding 5px
      position absolute
      left 5px
      bottom 5px
      width 100%
      color #fff
      font-size 12px
      h2
        font-family fontRoman()
        font-size 12px
      h3
        font-family fontLight()
        font-size 12px
    img
      width 100%
      height auto
    &.large
      width 100%
    &.medium
      width 50%
      padding 5px
    &.twitter
      padding 75px 75px 40px
      width 50%
      background-repeat no-repeat
      background-position center 45px
      background-image url('/img/twitter.png')
      text-align center
      font-size 22px
      font-family fontLight()
    &.ig
    &.user
      width 25%
      padding 5px
    &.user hgroup
      padding 20px
