Header set Access-Control-Allow-Origin '*'
Header set Access-Control-Allow-Headers 'X-Requested-With, Origin, X-Csrftoken, Content-Type, Accept, Authorization'
Header set Access-Control-Request-Method 'POST, GET, PUT, DELETE, OPTIONS'
Header set Access-Control-Allow-Methods 'POST, GET, OPTIONS, PUT, DELETE'

<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
