<header id="hero-unit">
  <div class="container">
      <p>Hello we are BU.<br/>
        We Inspire, Inform, Connect.<br/>
        We create innovative digital and brand experiences.<br/>
      Now tell us a little about you.</p>
  </div>
  {{ outlet }}
</header>

{{view App.GraphView}}
