<header id="madlib-header">
  <h1>Hello</h1>
  <h2>We are Brooklyn United</h2>
</header>
<div id="filters">
  <h3>Nice to Meet You</h3>
  <p>{{view App.DropdownView contentBinding='filters'}}, We'd love to show you our {{view App.DropdownView}} that {{view App.DropdownView}} has collaborated on.</p>
  <p><small>Please also check out our office view and Oscar while you're here!</small></p>
  <a href="#">View</a>
</div>
